@import "variables";
@import "utils";

body {
  background-color: $background;

  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow:  0 0 1px rgba(16, 22, 26, 0.1), 
                 0 1px 1px rgba(16, 22, 26, 0.2);

    height: 3.5rem;
    padding: 0 15px;
    color: black;
    background-color: white;

    a {
      text-decoration: none;
      color: black;
    }

    .align-left {
      float: left;

      .heading {
        margin-right: 25px;
        font-size: 22px;
        font-weight: 600;
        padding-top: 1rem;
      }
    }

    .align-right {
      float: right;
      padding-top: 1.25rem;

      a {
        margin-right: 25px;
        font-size: 18px;
      }
    }
  }

  .jumbotron {
    background: url("img/bg.png") no-repeat;
    background-attachment: fixed;
    background-position: center -300px;
    background-size: cover;
    width: 100%;
    height: 850px;
    z-index: 2;

    .title {
      position: relative;
      top: 600px;
      padding-left: 4rem;
      font-size: 3rem;
      color: white;
    }

    .projects-container {
      height: 800px;
      z-index: 5;
      position: relative;
      background: white;
      top: 800px;
    }

    .additional-container {
      height: 315px;
      z-index: 6;
      position: relative;
      background: $background;
      top: 800px;
    }
  }

  .about-container {
    margin-top: 100px;
  }

  .card {
    background-color: white;
    margin: 25px;

    box-shadow:  0 2px 2px 0 rgba(0,0,0,.15),
                 0 1px 5px 0 rgba(0,0,0,.1),
                 0 3px 1px -2px rgba(0,0,0,.2);
  }

  .footer {
    background-color: $footer-background;
    color: white;
    padding: 1rem;
    text-align: center;
    z-index: 8;

    a {
      padding: 0 2rem;
      color: white;
      font-size: 22px;
      text-decoration: none !important;
    }
  } 
}